.DS_Store
node_modules
.idea
yarn-error.log

*.wav
*.bmp

src/lab-webapp-rx/public/app.*
src/lab-webapp-rx/public/index.html
src/lab-webapp-rx/public/version.html

src/chirpy-rx/public/app.*
src/chirpy-rx/public/index.html
src/chirpy-rx/public/version.html
